.logoFooterIcon {
  height: 66.6px;
  width: 187px;
  position: relative;
  border-radius: var(--br-xl);
  object-fit: cover;
}
.informationsLgales {
  width: 328px;
  position: relative;
  text-decoration: underline;
  display: inline-block;
  flex-shrink: 0;
  max-width: 139%;
}
.infoLgales {
  width: 236px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.conditionsGnralesDutilisa {
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--color-gainsboro);
  cursor: pointer;
}
.infoLgalesParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px 0;
}
.mentionsLgales1,
.politiqueDeConfidentialit {
  position: relative;
  cursor: pointer;
}
.mentionsLgalesWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.mentionsLgales {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs) var(--padding-11xs);
}
.politiqueDeConfidentialitParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 31px 0;
  font-size: var(--font-size-lg);
  color: var(--color-gainsboro-100);
}
.bottomFrame,
.frameParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: 45px 0;
  min-width: 324px;
}
.bottomFrame {
  flex-direction: row;
  justify-content: center;
  min-width: 586px;
}
.pages {
  width: 328px;
  position: relative;
  text-decoration: underline;
  display: inline-block;
  flex-shrink: 0;
  max-width: 139%;
}
.infoLgales1 {
  align-self: stretch;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.accueil {
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--color-gainsboro);
  cursor: pointer;
}
.infoLgalesGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px 0;
}
.aPropos {
  position: relative;
  cursor: pointer;
}
.nousContacter {
  height: 23px;
  position: relative;
  display: inline-block;
}
.contactForm,
.contactInfo,
.frameGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contactForm {
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
}
.contactInfo,
.frameGroup {
  flex-direction: column;
}
.contactInfo {
  gap: 32px 0;
  font-size: var(--font-size-lg);
  color: var(--color-gainsboro-100);
}
.frameGroup {
  width: 236px;
  gap: 45px 0;
  min-width: 236px;
}
.bottom {
  align-self: stretch;
  border: 1px solid var(--color-gold-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--padding-36xl) var(--padding-15xl);
  gap: 10px 257px;
  min-height: 354px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gold-200);
  font-family: var(--font-quicksand);
}
@media screen and (max-width: 1200px) {
  .bottomFrame,
  .frameGroup {
    flex: 1;
  }
  .bottom {
    flex-wrap: wrap;
    gap: 10px 257px;
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .frameParent {
    flex: 1;
  }
  .bottomFrame {
    flex-wrap: wrap;
    gap: var(--gap-0);
    min-width: 100%;
  }
  .bottom {
    gap: 10px 257px;
  }
}
@media screen and (max-width: 450px) {
  .informationsLgales {
    font-size: var(--font-size-lg);
  }
  .frameParent {
    gap: 45px 0;
  }
  .bottomFrame {
    gap: var(--gap-0);
  }
  .pages {
    font-size: var(--font-size-lg);
  }
  .bottom {
    gap: 10px 257px;
  }
}
