.bouttonNousContacter,
.callToActionContainer {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.bouttonNousContacter {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.callToActionContainer {
  width: 1488px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-27xl);
  text-align: center;
  font-size: var(--font-size-32xl);
  color: var(--color-gray-400);
  font-family: var(--font-dm-sans);
}
@media screen and (max-width: 750px) {
  .callToActionContainer {
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
}
