@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.vousDsirezNous {
  margin: 0;
  height: 66px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  color: black;
  font-family: inherit;
  display: inline-block;
  opacity: 1;
}
.vousDsirezNous.animate {
  animation: 2s ease 0s infinite normal forwards pulsate;
}
.remplissezCeFormulaire {
  width: 545px;
  position: relative;
  font-size: var(--subtitles-subtitle-2-size);
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  max-width: 100%;
}
.titreContacter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 0;
  max-width: 100%;
}
.votreNom {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--subtitles-subtitle-2-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 24px;
  color: black;
  text-align: left;
  display: inline-block;
  min-width: 250px;
  max-width: 100%;
}
.textFieldChild {
  height: 6px;
  width: 12px;
  position: relative;
  object-fit: contain;
  display: none;
}
.textField {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-2xl) var(--padding-xs)
    var(--padding-lgi);
  box-sizing: border-box;
  gap: 0 10px;
  max-width: 100%;
}
.votreEMail {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--subtitles-subtitle-2-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 24px;
  color: black;
  text-align: left;
  display: inline-block;
  min-width: 250px;
  max-width: 100%;
}
.textFieldItem {
  height: 6px;
  width: 12px;
  position: relative;
  object-fit: contain;
  display: none;
}
.textField1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-2xl) var(--padding-xs)
    var(--padding-lgi);
  box-sizing: border-box;
  gap: 0 10px;
  max-width: 100%;
}
.votreTlphone {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--subtitles-subtitle-2-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 24px;
  color: black;
  text-align: left;
  display: inline-block;
  min-width: 250px;
  max-width: 100%;
}
.textFieldInner {
  height: 6px;
  width: 12px;
  position: relative;
  object-fit: contain;
  display: none;
}
.textField2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-2xl) var(--padding-xs)
    var(--padding-lgi);
  box-sizing: border-box;
  gap: 0 10px;
  max-width: 100%;
}
.votreMessage {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--subtitles-subtitle-2-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 24px;
  color: black;
  text-align: left;
  display: inline-block;
  min-width: 250px;
  max-width: 100%;
}
.vectorIcon {
  height: 6px;
  width: 12px;
  position: relative;
  object-fit: contain;
  display: none;
}
.textField3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-2xl) var(--padding-xs)
    var(--padding-lgi);
  box-sizing: border-box;
  gap: 0 10px;
  max-width: 100%;
}
.envoyerUnMessage {
  position: relative;
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-family: var(--font-montserrat);
  color: var(--white);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--color-gold-100);
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: var(--color-goldenrod);
}
.emailFrame,
.zoneInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.zoneInput {
  margin: 0;
  width: 545px;
  height: 330px;
  gap: 20px 0;
}
.emailFrame {
  gap: 40px 0;
}
.child {
  height: 28px;
  width: 28px;
  position: relative;
}
.parTelephone {
  margin: 0;
  font-weight: 600;
}
.p {
  margin: 0;
  color: var(--color-gray-300);
}
.parTelephone06Container {
  height: 40px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
  display: inline-block;
}
.div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 15px;
}
.contactInfoChild {
  height: 28px;
  width: 28px;
  position: relative;
}
.parEmail {
  margin: 0;
}
.electrick68gmailcom {
  margin: 0;
  color: var(--color-black);
}
.parEmailElectrick68gmailcoContainer {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 600;
}
.bottomInput,
.contactInfo {
  flex-direction: row;
  justify-content: flex-start;
}
.contactInfo {
  display: flex;
  align-items: center;
  gap: 0 15px;
}
.bottomInput {
  flex-wrap: wrap;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
  gap: 50px 41.11px;
  font-size: var(--font-size-smi);
  color: var(--color-gold-100);
}
.bottomInput,
.contactUs,
.phoneFrame {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.phoneFrame {
  flex-direction: column;
  justify-content: flex-start;
  gap: 60px 0;
}
.contactUs {
  align-self: stretch;
  border-radius: var(--br-60xl);
  background-color: var(--white);
  box-shadow: 0 141px 200px -80px rgba(25, 58, 75, 0.3);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-275xl) var(--padding-xl) var(--padding-275xl)
    var(--padding-2xl);
  box-sizing: border-box;
  min-height: 1311px;
  text-align: left;
  font-size: var(--font-size-35xl);
  color: transparent;
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1200px) {
  .contactUs {
    padding-top: var(--padding-172xl);
    padding-bottom: var(--padding-172xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .vousDsirezNous {
    font-size: var(--font-size-24xl);
  }
  .phoneFrame {
    gap: 60px 0;
  }
}
@media screen and (max-width: 960px) {
  .vousDsirezNous {
    align-self: stretch;
    width: auto;
    flex: 1;
  }
}
@media screen and (max-width: 750px) {
  .contactUs {
    padding-top: var(--padding-105xl);
    padding-bottom: var(--padding-105xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .vousDsirezNous {
    font-size: var(--font-size-13xl);
  }
  .emailFrame {
    gap: 40px 0;
  }
  .bottomInput {
    gap: 50px 41.11px;
  }
}
